@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  font-family: "Poppins", sans-serif;
}

body{
  background: white;
  margin: 0px;
  padding: 0px;
}

.capsalera{
  background-color: black;
  height: 5em;
  padding-left: 3em;
  padding-top: 1em;
}

.buttons li{
  display: inline-block;
  margin: 0.5em;
  padding: 1em;
}

.buttons li a{
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 1em;
}

.information-block{
  width: 100%;
  margin: 1em;
  padding: 1em;
}