@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  font-family: "Poppins", sans-serif;
}

body{
  background: white;
  margin: 0px;
  padding: 0px;
}

.capsalera{
  background-color: black;
  height: 5em;
  padding-left: 2vw;
  padding-top: 1em;
}

.information-block{
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1em;
  text-align: justify;
  text-justify: inter-word;
}

.buttons li{
  display: inline-block;
  margin: 0.5em;
  padding: 1em;
}

.buttons li a{
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 1em;
}

.info-artista {
  text-align: center;
  padding-top: 1vh;
}

.info-artista img {
  width : 3vh;
  height: 3vh;
}